body {
	background-color: black;
	background-image: url("../images/bttfbg.jpeg");
    font-family: 'Droid Sans', sans-serif;

}
h1 {
    text-align: center;
}
#mainGame {
	background: #CECFDE;
    min-height: 400px;
    width: 600px;
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 5px;
}
#gameTitle {
	text-align: center;
}
#logo {
	margin-left: 150px;
}
#gameQ {
    text-align: center;
}
#startButton {
    text-align: center;
}
#scoreDiv {
    text-align: center;

}
#timeClock {
    text-align: center;
}
.ans {
    text-align: center;
    line-height: 2em;
    margin: 20px;
}
.que {
    font-weight: bold;
}
.hover {
    background-color: darkred;
    font-weight: bold;
    color: white;
}
.btn {
    margin-top: -5px;
    margin-bottom: 5px;
}

